



.input__layout{
margin: 5px 0px;
}

.input__display{
  width: 48%;
}


.icons{
color: rgb(104, 77, 33);
stroke: rgb(14, 1, 1);
stroke-width: 5px;
font-size: 24px;    
transform: translate(0px, -6px)
}



.prueba{
  background-color: red;
}

