

.input__layout{
margin: 5px 0px;
}

.input__display{
  width: 48%;
}

.input__distance_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input__distance_display{
  width: 60%;
}

.input__modify_display{
  width: 30%;
}

.critical_input{
  display: flex;
  gap: 10px
}

.critical_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description{
  text-align: justify;
  font-family: cursive;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin-top: 5px;
}


.icons{
color: rgb(104, 77, 33);
stroke: rgb(14, 1, 1);
stroke-width: 5px;
font-size: 24px;    
transform: translate(0px, -6px)
}

.error__icon{
  transform: translate(0px, -6px);
  stroke: rgba(14, 1, 1, 0.585);
  stroke-width: 0.5px;
  color: #af0303;
}

.spinner{
  filter: drop-shadow(0px 0px 3px #0000009b);
}


.prueba{
  background-color: red;
}




/* MODAL */

.transition {
  transition: all 0.3s ease-out;
}
.heading {
  text-align: center;
  font-size: 0.8em;
}
.center__align {
  width: 300px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: table;
  margin-top: -40px;
  margin-left: -150px;
}

.input__radio[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.label__radio {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}

