.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.title{
  font-family: 'Dragon Hunter';
  width: 70%;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 31px;
  margin: 8px auto;
  color: rgb(164, 14, 14);
  text-shadow: 0px 0px 0 rgb(126,10,10),
                 0px 1px 0 rgb(109,-7,0),
                 0px 2px 0 rgb(91,-25,0),
                 0px 3px  0 rgb(73,-43,0),
                 0px 4px 3px rgba(0,0,0,0.51),
                 0px 4px 1px rgba(0,0,0,0.5),
                 0px 0px 3px rgba(0,0,0,.2);
}

.form{
  margin: 0 auto;
  width: 74%;
}


.col{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('../../public/prueba.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.icons{
  color: rgb(169, 169, 169);
  stroke: rgb(18 64 63);
  stroke-width: 5px;
  font-size: 24px;    
  }


.container_description{
  color: brown;
  font-size: 13px;
  width: 70%;
  margin: 0 auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row_title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.row_title > h2 {
  
}

.critical_header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}


.container_description > form{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.col_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input__container{
  display: flex;
  justify-content: space-between;
}

.description{
  text-align: justify;
  line-height: 15px;
}


@media (min-width: 648px) and (max-width: 1024px){

  .App{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .form {
    max-width: 42%;
   }

 }
 
 
 @media (min-width: 1024px) {

  .App{
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
 
   .form {
     width: 50%;
   }

   .container_description{
    width: 70%;
  }

   .col{
    align-items: center;
    width: 50%;
   }
   
 }