.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.form{
  margin: 0 auto;
  width: 85%;
}


.col{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background: url('../../public/vector.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.icons{
  color: rgb(169, 169, 169);
  stroke: rgb(18 64 63);
  stroke-width: 5px;
  font-size: 24px;    
  }


.container_description{
  width: 100%;
}

.container_description>form{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.input__container{
  display: flex;
  justify-content: space-between;
}


@media (min-width: 648px) and (max-width: 1024px){

  .form {
     width: 100%;
   }
 }
 
 
 @media (min-width: 1024px) {

  .App{
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
  }
 
   .form {
     width: 50%;
   }

   .container_description{
    width: 70%;
  }

   .col{
    align-items: center;
    width: 50%;
   }
   
 }